<%-# displays error messages -%>
<div class="results-block">
  <%= render 'layouts/messages' %>
</div>

<%-# renders friends search results -%>
<% if @friends %>
  <div class="card card-header results-block">
      <table class="col-md-12">
      <tbody>
      <%-# iterates and displays each friend that is found -%>
        <% @friends.each do |friend| %>
          <tr>
            <td><strong>Name: </strong> <%= friend.full_name %></td>
            <td><strong>Email: </strong> <%= friend.email %></td>
            <%-# button to view a friends profile -%>
            <td><strong>Actions: </strong> <%= link_to "View Profile", user_path(friend),
                              class: "btn btn-sm btn-info" %>
              <%-# checks if the current user is not already friends with another user -%>
              <% if current_user.not_friends_with?(friend.id) %>
              <%-# button to follow friend -%>
                <%= link_to 'Follow', friendships_path(friend: friend),
                              class: "btn btn-sm btn-success", method: :post %>
              <% else %>
              <%-# if the user is already following friend -%>
                <span class="badge badge-secondar">
                  You are friends
                </span>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>